<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= title %></title>
<meta name="description" content="<%= description %>"/>
<meta name="keywords" content="<%= keywords %>"/>
<meta name="author" content="<%= author %>"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    

<!-- favicon -->
<link rel="icon" type="image/png" href="/assets/icons/logo.png">

<!-- Icons Css  -->
<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css">

<!-- Main Css -->
<link href="/assets/css/style.css" rel="stylesheet" type="text/css">