<!DOCTYPE html>
<html lang="es-ES">
<head>
    <% include partials/head.ejs %>

    <style>
    </style>
</head>
<body>
    <% include partials/navigation.ejs %>

    <section class="relative pt-32 pb-20" id="visitsSection"> 
        <div class="container">
            <div id="visitsContainer" class="shadow-2xl rounded-xl bg-white py-20 pt-20">
                BILLING
            </div>
        </div>
    </section>

    <section class="relative pt-10 pb-20" id="engagementSection"> 
        <div class="container">
            <div id="engagementContainer" class="shadow-2xl rounded-xl bg-white py-20 pt-20">
                CHANGE PASSWORD 
            </div>
        </div>
    </section>

    <section class="relative pt-10 pb-20" id="interactionsSection"> 
        <div class="container">
            <div id="interactionsContainer" class="shadow-2xl rounded-xl bg-white py-20 pt-20">
                DELETE ACCOUNT
            </div>
        </div>
    </section>

    <% include partials/footer.ejs %>
</body>
</html>