<!DOCTYPE html>
<html lang="es-ES">
<head>
    <% include partials/head.ejs %>

    <style>
    </style>
</head>
<body>
    <% include partials/navigation.ejs %>

    <!-- =========== Hero Section Start =========== -->
    <section class="relative pt-32 pb-20 from-gray-700 via-gray-900 to-black" id="home"> <!-- bg-[radial-gradient(ellipse_at_right,_var(--tw-gradient-stops))] -->
        UNDER CONSTRUCTION! billing

        change subscription or cancel it
    </section>

    <!-- Preline Js -->
    <script src="/assets/libs/preline/preline.js" ></script> 

    <!-- Lucide Js -->
    <script src="/assets/libs/lucide/umd/lucide.min.js"></script>

    <!-- Main App Js -->
    <script src="/assets/js/app.js" ></script>
</body>
</html>