<!DOCTYPE html>
<html lang="es-ES">
<head>
    <% include partials/head.ejs %>

    <style>
    </style>
</head>
<body>
    <% include partials/navigation.ejs %>

    <!-- =========== Hero Section Start =========== -->
    <section class="relative pt-32 pb-20" id="home"> 
        <div class="container">
            UNDER CONSTRUCTION! dashboard

            metrics
        </div>
        
    </section>

    <% include partials/footer.ejs %>
</body>
</html>