#home {
    overflow: hidden;
    background-color: rgb(0,0,0,0.5);
}

#homeVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    max-width: fit-content;
    z-index: -1;
}

.video-container {
    position: relative;
}

.video-container video {
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .iphone {
    z-index: 1;
    position: relative;
    width: 245px;
}

.youVideo {
    width: 320px;
    height: 180px;
}

@media only screen and (min-width: 992px) {
    .youVideo {
        width: 640px;
        height: 360px;
    }   
} 